{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/animes/{{anime.id}}?_method=PUT" method="POST">
      <fieldset>
        <legend>Edit
          {{anime.name}}
        </legend>
        <label class="form-label">Name:
        </label>
        <input type="text" name="name" placeholder="{{ anime.name }}" value="{{ anime.name }}" class="form-control">
        <label class="form-label">Character:</label>
        <input type="text" name="body" placeholder="{{ anime.characters }}" value="{{ anime.characters }}" class="form-control">
      </fieldset>
      <input type="submit" value="Edit {{anime.name}}" class="btn btn-success">
    </form>
  </div>
{% endblock %}}