{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <div class="card" style="width: 18rem;">
        <h2>
          {{ anime.name}}
        </h2>
        <img src="{{ 'https://asset.vg247.com/goku-dragon-ball.jpg/BROK/thumbnail/1600x900/format/jpg/quality/80/goku-dragon-ball.jpg' | file_img_url: '2048x2048' }}"/>
        <h6>character:
          {{ anime.characters }}
        </h6>

      </div>
      {% if anime.owner == userId %}
        <div class="btn-group">

          <a href="/animes/{{ anime.id }}/edit" class="btn btn-primary">Edit</a>
          <form action="/animes/{{ anime.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>

        </div>

      {% endif %}
      <br>
      <br>
      <br>

      <form action="/characters" method="POST">
        <fieldset>
          <legend>Add Character</legend>
          <label class="form-label">Name:
          </label>
          <input type="text" name="name" placeholder="enter character name" class="form-control">
          <label class="form-label">Desc:</label>
          <input type="text" name="body" placeholder="enter character description" class="form-control">
          <label class="form-label">Anime:</label>
          <br>
          <input value="{{anime.id}}">
        </fieldset>
        <input type="submit" value="Add Character" class="btn btn-success">
      </form>


    </article>
  </div>
{% endblock %}}}}}}}}}}}}}}}}