{% layout 'layout.liquid' %}
{% block content %}

  <article>
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">{{ character.name }}
      </h5>
      <div class="card-body">
        <img class="card-text">
        <h3>{%- comment -%} shoudl be a p tag {%- endcomment -%}
          {{character.desc}}
        </h3>
      </p>{%- comment -%} extra unpaired closign tag {%- endcomment -%}
      {%- comment -%}
        <div class="card" style="width: 18rem;">
        <h5 class="card-header">{{ character.name }}
        </h5>
        <div class="card-body">
        <img class="card-text" >
        </p>
      {%- endcomment -%}
      {% if character.owner == userId %}
        <div class="btn-group">
{%- comment -%} unecessary white space {%- endcomment -%}
          <a href="/characters/{{ character.id }}/edit" class="btn btn-primary">Edit</a>
          <form action="/characters/{{ character.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
{%- comment -%}unecessary white space {%- endcomment -%}
          </form>
        </div>
      {% endif %}
    </article>
  </div>
{% endblock %}}}}}}}}}}}}}}}}}}}}}}}}}}}}{%- comment -%} turn on auto save {%- endcomment -%}